<div class="span16">
	<div class="row">
		<div id="mission" class="content_mission span16">
			<div class="row">
				<div class="span1">
					&nbsp;
				</div>
				<div class="content_mission_info span7">
					<div class="content_mission_text">
						<%=image_tag('mission.png')%>
						<br />
						<br />
						<p>
							Durant leurs vingt années d’expériences en consultation, les six associés fondateurs ont vu évoluer le marché de l’informatique
							d’un stade de ressources interchangeables à une recherche d’expertise capable d’apporter une vraie valeur ajoutée.
						</p>
						<p>
							Depuis de nombreuses années, leurs compétences ont été mises en œuvre dans le cadre de projets à fort contenu technologique
							menés dans les secteurs des services financiers, assurances, télécommunications, aérospatial et manufacturier.
							En accord avec les valeurs de la société, ils s'approprient les problématiques auxquelles leurs clients sont confrontés,
							proposent des solutions viables reposant sur les technologies les plus pertinentes et livrent les résultats attendus dans le
							respect des intérêts de leurs clients. Ce dispositif est le signe de la volonté de renforcer l’aptitude du Groupe T.I.6 DévelopMen
							à offrir à ses clients des solutions efficaces et adaptées à leurs besoins.
						</p>
					</div>
				</div>
				<div class="content_mission_info span7">
					<div class="content_mission_text">
						<%=image_tag('valeurs.png')%>
						<br />
						<br />
						<p>
							Parce que nos clients doivent relever des défis liés aux enjeux de flexibilité, de budget et de qualité de services,
							nous nous engageons fermement sur :
						</p>
						<br />
						<ul>
							<li>
								Les résultats
							</li>
							<li>
								La qualité de nos livrables
							</li>
							<li>
								La réalisation
							</li>
							<li>
								L’efficacité globale de nos interventions
							</li>
						</ul>
					</div>
				</div>
				<div class="span1">
					&nbsp;
				</div>
			</div>
		</div>
	</div>
</div>
