	<!-- FOOTER  -->
	<div class="span-one-third news">
		<p>Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem</p>
		
	</div>
	<div class="span-one-third about">
		<p>Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem</p>
		
	</div>
	<div class="span-one-third social">
		<p>Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem</p>
		
	</div>

