<!-- FOOTER  -->
<div class="container">
	<div class="row">
		<div class="span-one-third">
			<div class="news">
				<h2>Nouvelles</h2>
				<p>
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="about">
				<h2>Qui Sommes nous</h2>
				<p>
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="social">
				<h2>Social</h2>

				<p>
					Suivez-nous sur :
				</p>
				<p><%= link_to "Facebook", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
				<p><%= link_to "Twitter", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
				<p><%= link_to "LinkedIn", "http://www.facebook.com/pages/D%C3%A9velopMen/174991212590557" %></p>
			</div>
		</div>
	</div>
</div>
