<!-- FOOTER  -->
<div class="container">
	<div class="row">
		<div class="span-one-third">
			<div class="news">
				<p>
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="about">
				<h2>About Us</h2>
				<p>
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
		<div class="span-one-third">
			<div class="social">
				<p>
					Lorem iposum tocaris rolut goilj ripulo lorem ipseum latour voulfu gyu jui del la repr de lorem
				</p>
			</div>
		</div>
	</div>
</div>
