

<div id="carousel">
<ul>
	<li><%= image_tag("logoGoogle-black-center.jpg", :width=>"940", :height=>"350")%><p>Besoin d'un super Héros?</p></li>
	<li><%= image_tag("avis_recherche_carouselle.jpg", :width=>"940", :height=>"350")%></li>
	<li><%= image_tag("super-man-developmen.jpg", :width=>"940", :height=>"350")%></li>
	<li><%= image_tag("p3.jpg", :width=>"940", :height=>"350")%></li>

</ul>
</div>