

<div id="carousel">
<ul>
	<li><%= image_tag("logo_carouselle.jpg", :width=>"940", :height=>"350")%></li>
	<li><%= image_tag("avis_recherche_carouselle.jpg", :width=>"940", :height=>"350")%></li>
	<li><%= image_tag("super-man-developmen.jpg", :width=>"940", :height=>"350")%></li>

</ul>
</div>