<!--
----------------------------------------------
Include the carrousel only in the home page.
Remove the if to see it in each page
----------------------------------------------
-->
<% if current_page?(:controller=>"home") %>
<div id="carousel_container">
	<%= render "carousel" %>
</div>
<% end %> <!-- <%= image_tag("header_01.jpg", :id=>"header_img") %> -->
<div class="span4">
	<p>
		jsdnckjc sacjkns dcjknsa cjnsc sdjcn sdkjckjsadcjksdc
	</p>
	<p>
		jsdnckjc sacjkns dcjknsa cjnsc sdjcn sdkjckjsadcjksdc
	</p>
	<p>
		jsdnckjc sacjkns dcjknsa cjnsc sdjcn sdkjckjsadcjksdc
	</p>
	<p>
		jsdnckjc sacjkns dcjknsa cjnsc sdjcn sdkjckjsadcjksdc
	</p>
</div>
<div class="span5">
	Lorem ipsum dolor sit amet, sit id interdum sed vel felis dictum, ligula convallis phasellus tempor tristique pulvinar nunc. Cras in at velit, ut nam. Duis bibendum viverra vestibulum amet, in et eget ac rutrum nulla, enim duis sed, sit vitae euismod enim varius, malesuada sed. Sapien magnis suscipit. Nunc habitasse hendrerit massa laoreet quis. Aliquam vulputate, convallis accumsan quisque, turpis in. Dignissim maecenas mauris, id blandit massa a amet, condimentum wisi vitae quam. Aenean ante amet nunc, donec fusce velit ut, porta et aliquam, dictum eget tempor eros et curabitur bibendum. Ut justo sit mattis sit. Elit sit cras velit enim eu, id eu platea enim. Amet volutpat pellentesque urna at penatibus consectetuer, wisi praesent, nam dolor a velit. Neque sem integer vestibulum nec, pharetra est at corporis pellentesque, consequat auctor eu turpis ac dui.
	Ac aenean. Nunc odio vehicula velit purus vitae, mi vestibulum aliquam pede in, sed dapibus sed donec arcu, mi congue est dictum nec. Vestibulum aenean, et ut neque litora purus nulla, vel ridiculus, nullam vitae aliquam scelerisque aliquet eget nec. Cras ac id. Nascetur erat, suscipit arcu mi, pretium laoreet interdum sit ut vivamus dictum. Vestibulum phasellus mi. Nam ac suscipit nunc.
	Quisque fusce dolores suscipit dolor semper, vulputate aptent morbi, urna consectetuer, sapien eget. Orci montes, mattis sed amet aenean ridiculus cubilia suspendisse, at penatibus hendrerit non, eu sed tincidunt tristique tincidunt. Curabitur enim pellentesque. Sollicitudin ultricies dolorum tincidunt sed pellentesque, pede ipsum nostra magna conubia. Quam nisl mus sed quisque, dignissim eget, eleifend iaculis at urna proin in magna, a lobortis elit lacus, convallis elit. Non consectetuer lorem pede, porta nisl, nec proin sapien nibh massa sit, semper vel viverra sed augue. Sed nulla morbi lorem consectetuer. Non laudantium dolor ipsum sed cum enim. Nec feugiat, quis vitae pede, ligula placerat.
	Aliquam integer cras dui congue donec dui, dolor nisl suscipit erat curabitur. Nec duis volutpat, tellus arcu. Hymenaeos et neque sagittis integer. Nam ultrices sapien dolor suspendisse nunc, eu sagittis. Nec lobortis, eget curabitur lorem, vehicula praesent amet sollicitudin. Justo sed platea mus iure magnis vivamus, congue maecenas urna curabitur montes at leo, ut in amet nisl condimentum. Amet proin sollicitudin, magna vitae ornare mollit, aliquam venenatis sed dolor integer ipsum elit, lobortis diam vel mollis leo ante. Sit dolor in mi mi sed, nulla felis, dis ligula sit pede accumsan, felis nisl sit. Phasellus consequat vel nulla ut mollis, cursus elementum nisl turpis eros velit, felis dolor ante, velit purus sed nunc enim curabitur mus. Suspendisse enim ipsum aut, eros fusce nunc at, libero lacus mauris sed dapibus ornare suscipit. Nullam wisi orci vulputate nulla ipsum leo, dictum enim metus purus, elit vestibulum nec vitae, erat vulputate lectus, pede dui sed libero.
</div>
<div class="span5">
	jsdnckjc sacjkns dcjknsa cjnsc sdjcn sdkjckjsadcjksdc
</div>