<div id="mission" class="span16">
	<div class="row">
		<div class="panel_section">
			<div class="content_mission_text">
				<h1>Nos Services</h1>
				<br />
								<p>
					DévelopMen vous offre les services de conseillers dans les domaines suivants:
				</p>
				<p>
					<ul>
						<li>
							Gestionnaires de projets / programmes
						</li>
						<li>
							Analystes d’affaires
						</li>
						<li>
							Architectes technologiques
						</li>
						<li>
							Concepteurs
						</li>
						<li>
							Développeurs
						</li>
					</ul>
				</p>
				<p>
					Nos conseillers principaux sont surtout spécialisés dans les domaines suivants:
				</p>
				<p>
					<ul>
						<li>
							Bancaire/Financier
						</li>
						<li>
							Assurances
						</li>
						<li>
							Télécommunications
						</li>
						<li>
							Aérospatiale
						</li>
						<li>
							Manufacturier
						</li>
						<li>
							Développement Web
						</li>
						<li>
							Développement mobile
						</li>
					</ul>
				</p>

				<br />
				<h3>Méthode de recrutement et d'embauche</h3>
				<p>
					Au cours de leurs années d'expérience, les six fondateurs ont vu leurs cercle de contacts prendre une dimension appréciable.  Avec la croissance de <%= link_to "LinkedIn", "http://www.linkedin.com/company/d-velopmen" %> depuis les dernières années, le réseau de contact de premier et deuxième rang nous permet de rejoindre une foule de travailleurs dans le domaine des T.I.  Nous croyons que les réseaux sociaux joue un rôle déterminant dans la recherche de main d'oeuvre qualifié et nous comptons bien en faire usage d'une façon efficace.
				</p>
				<p>Étant, pour la plupart, déjà des membres de <%= link_to "l'AQIII", "http://www.aqiii.org"%> (Association Québecoise des informaticiens et informaticiennes), nous connaissons déjà l'utilité de cet association et nous comptons bien en profiter pour rejoindre plus de 1600 travailleurs indépendants en T.I. </p>
				
				<h3>Notre méthode</h3>
				<p>Nous avons à coeur de vous offrir les meilleurs candidats que possible pour vos différents besoins. C'est pourquoi nous adoptons une démarche de recrutement par compétences.</p>
				<p>Pour DevelopMen, la compétence se défini par ces cinq éléments</p>
				<p>
					<ul>
						<li>Le savoir : Ce que le candidat connais.</li>						
						<li>Le savoir-faire : Ce que le candidat à déjà réalisé ou mis en oeuvre.</li>						
						<li>Les aptitudes : Ce que le candidat est capable de réaliser.</li>						
						<li>Le savoir être : Quel genre d’attitude le candidat a en entreprise.</li>						
						<li>La motivation : Ce que le candidat souhaite \ préfère.</li>						
					</ul>
				</p>
				<h3>Première rencontre</h3>
				<p>La première rencontre avec le candidat se fera a trois.  Il s'agit d'évaluer le savoir être et le savoir-faire du candidat par rapport aux besoin énoncés par le client.  Son savoir et ses aptitudes ne sont pas évalué dans cette rencontre puisque nous voulons nous assurer que le candidat s’intégrera bien dans votre équipe actuelle.</p>
				<h3>Deuxieme rencontre</h3>
				<p>la deuxième rencontre nous permet d'évaluer le savoir par une test écrit ou orale fait par le candidat durant cette rencontre.  Un deuxième test nous permettra d'évaluer les aptitudes du candidat.  Il s'agit de mise en contexte et de scénario non relié aux technologie nous permettant de voir si le candidat est capable de trouver des solutions.</p>
				<h3>Dernière rencontre</h3>
				<p>Une fois tout les test et entrevue fait, un comité sera formé pour juger si le candidat est digne de représenter DevelopMen. Nous discuterons des projets disponible et des éléments de motivation qui le pousse a vouloir travailler chez notre client. Par la suite, il sera proposé chez le client et une autre entrevue avec celui-ci pourra être conduit.</p>
			</div>
		</div>
	</div>
</div>
