


	<div class="span16">
	<%if flash[:tip]%>
		
		<div class="alert-message warning fade in" data-alert="alert">
			<a class="close" href="#">×</a>
			<p>
				<span class="label important">Petit Jeux</span>
				<%=flash[:tip]%>
			</p>
		</div>
		
	<%end%>
		
		<div class="row">
			<div class="span1">&nbsp;</div>
			<a href="/contact/suemary"><div class="span5 content_contact sue "></div></a>	
			<a href="/contact/benoit"><div class="span5 content_contact benoit"></div></a>
			<a href="/contact/sylvain"><div class="span5 content_contact sylvain "></div></a>
		</div>
		<div class="row">
			<div class="span1">&nbsp;</div>

			<a href="/contact/stephane"><div class="span5 content_contact stephane"></div></a>	
			<a href="/contact/regis"><div class="span5 content_contact regis"></div></a>	
			<a href="/contact/fred"><div class="span5 content_contact fred"></div></a>	
		</div>
	</div>

