<div class="span16">
	<%if flash[:tip]%>
	<div class="alert-message warning fade in" data-alert="alert">
		<a class="close" href="#">×</a>
		<p>
			<span class="label important">Petit Jeux</span>
			<%= flash[:tip]%>
		</p>
	</div>
	<%end%>
	<div class="row" style="margin-bottom: 10px">
		<div class="span1">
			&nbsp;
		</div>
		<a href="/contact/suemarie"><div class="span5 content_contact sue "></div></a>
		<div class="span10 box_text_contact">
			<div class="text_contact">
				<h2>Sue-Marie Garceau</h2>
				<h4>Vice-présidente service conseil</h4>
				scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span1">
			&nbsp;
		</div>
		<div class="span10 box_text_contact">
			<div class="text_contact">
				<h2>Sue-Marie Garceau</h2>
				<h4>Vice-présidente service conseil</h4>
				scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree
			</div>
		</div>
		<a href="/contact/benoit"><div class="span5 content_contact benoit"></div></a>
	</div>
	<div class="row">
		<div class="span1">
			&nbsp;
		</div>
		<a href="/contact/sylvain"><div class="span5 content_contact sylvain "></div></a>
		<div class="span10 box_text_contact">
			<div class="text_contact">
				<h2>Sue-Marie Garceau</h2>
				<h4>Vice-présidente service conseil</h4>
				scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree scknsdkj ncsjk ncnc sjnc dn jjndjncnh lori bgd ettree
			</div>
		</div>
	</div>
	<div class="row">
		<div class="span11">
			&nbsp;
		</div>
		<a href="/contact/stephane"><div class="span5 content_contact stephane"></div></a>
	</div>
	<div class="row">
		<div class="span1">
			&nbsp;
		</div>
		<a href="/contact/regis"><div class="span5 content_contact regis"></div></a>
	</div>
	<div class="row">
		<div class="span11">
			&nbsp;
		</div>
		<a href="/contact/fred"><div class="span5 content_contact fred"></div></a>
	</div>
</div>
</div> 