<div id="mission" class="span16">
	<div class="row">
		<div class="panel_section">
			<div class="content_mission_text">
				<%= image_tag "dev-logo.png" %> <h1>Nous sommes : DévelopMen</h1>
				<br />
				<p>
					DévelopMen est une jeune entreprise dynamique formée de 6 consultants séniors en développement de projet. Notre compagnie se démarque par la qualité des consultants qui en forment le noyau. Chacun des six associés détient plus de 15 années d'ancienneté dans le domaine des T.I.
				</p>
				<p>
					Un des buts premiers de notre compagnie est la satisfaction de nos clients par une approche axée sur la compétence des ressources et la personnalisation des services.
				</p>
				<p>
					<%= link_to "Nos conseillers principaux", :controller=>"contact"%> sont surtout spécialisés dans les domaines suivants:
				</p>
				<p>
					Nos nombreuses années de consultation indépendante nous ont permis de maîtriser l'essence même du développement de projet et des besoins que requiert le domaine, et également de bâtir un large réseau de contacts compétents que notre association permet aujourd'hui de rassembler. Notre compagnie à beaucoup d'ambition et se donne comme objectif à court terme de croître rapidement.
				</p>
				<br />
				<p>
					Nous avons mis en place plusieurs grandes applications multiplateformes pour le secteur bancaire et celui des assurances, y compris:
				</p>
				<p>
					<ul>
						<li>
							Soumission d'assurance automobile offrant des offres multiples
						</li>
						<li>
							Modification de la police d'assurance en ligne
						</li>
						<li>
							Extension de la plateforme web pour servir différentes entreprises et provinces
						</li>
						<li>
							Processus automatisés pour les agents
						</li>
					</ul>
				</p>
				<p>
					Les fondateurs se sont distingués parmi leurs pairs grâce à des solutions innovatrices à des problèmes complexes qui ont servi de plateformes stratégiques pour nos clients. Ils ont ainsi gagné le respect et l'estime de beaucoup de ressources hautement qualifiées qui ont déjà exprimé le désir de rejoindre <%= link_to "notre équipe", :controller=>"contact"%>.
				</p>
			</div>
		</div>
	</div>
</div>
